# CBE Integration (Commercial Bank of Ethiopia)
CBE_VERIFICATION_URL="https://apps.cbe.com.et:100/"
CBE_ACCOUNT_NUMBER="1000539559927"

# Telegram Bot Token
BOT_TOKEN="8572602423:AAFv798LVotVnWRF4vcu6eg00OByN0CKqRQ"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://winbingoet.vercel.app/"
